::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #0dcaf0; /* สี info */
  color: white; /* สีตัวอักษร */
  border-radius: 14px;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 12px;
}

::ng-deep ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px #fde6e8;
}
