<div class="d-flex justify-content-between mb-2">
  <div></div>
  <div class="d-flex gap-2">
    <button type="button" class="btn btn-primary btn-sm fs-6 fw-bold" data-bs-toggle="modal" data-bs-target="#bookModal">
      ✚ เพิ่มหนังสือ
    </button>
  </div>
</div>
<app-popup-form [isEdit]="isEdit" [bookId]="selectedBookId"></app-popup-form>
<div class="table-responsive bg-white p-3 rounded shadow">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        @for (col of columns; track $index) {
          <th>{{ col.title }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (book of books(); track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td><img [src]="book.img_url" alt="หน้าปกหนังสือ" style="width: 60px" /></td>
          <td class="text-wrap">{{ book.title }}</td>
          <td class="text-wrap">{{ book.author }}</td>
          <td class="text-wrap">
            @for (category of book.categories; track $category) {
              <span class="badge mb-1 bg-info">{{ category.category_type }}</span>
            }
          </td>
          <td class="text-wrap">{{ book.publisher.name }}</td>
          <td>{{ book.price_per_day }}</td>
          <td>{{ book.available_copies }}</td>
          <td>
            <i class="feather icon-eye mx-1 cursor-pointer" title="แสดงรายละเอียด" (click)="OnViewDetail(book)"></i>
            <i class="feather icon-edit mx-1 cursor-pointer" (click)="OnEditFormModal(book._id)" title="แก้ไขข้อมูล"></i>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
